// bower:scss
// endbower

body {
    background-color: #3d3c3c;
    font-family: "Droid Sans", Arial, sans-serif;
    color:#d1cece;
    font-size:16px;
    font-size:1em;
}

p {
    margin-top:0;
    line-height:1.6em;
}

a {
    color:#d1cece;
    text-decoration:none;
}

h2 {
    margin-top:0;
    margin-bottom:2rem;
}

.container {
    max-width:960px;
    margin:0 auto;
    position:relative;
    padding-bottom:3rem;
}

.site-title {
    font-size:36px;
    margin-top:2rem;
    margin-bottom:2rem;
    margin-left:-0.1em;
}

.site-sub-title {
    font-size:20px;
    display:block;
    padding-left:0.2em;
}

.section-intro {
    margin-bottom:2rem;
}

.project {
    margin-bottom:3rem;
    position:relative;
}

.project-title {
    margin-bottom:2rem;
}

.project-image {
    margin-bottom:2rem;
}

img {
    width:100%;
    display:block;
}

.social {
    padding-top:1em;
    
    .social-icon {
        float:left;
        margin-right:1em;

        &:last-child {
            margin-right:0;
        }
    }
}

ul {
	list-style:none;
    margin:0;
    padding:0;
}

li {
    margin:0;
    padding:0;    
}

@media only screen and (min-width:400px){
    h2,
    .intro,
    .site-title,
    .site-sub-title {
        margin-bottom:3rem;
    }

    .social {
        position:absolute;
        top:0;
        right:0;
    }
}

.group:after {
	content:"";
	display:block;
	clear:both;
}