// bower:scss
// endbower

body {
    background-color: #3d3c3c;
    font-family: "Droid Sans", Arial, sans-serif;
    color:#d1cece;
    font-size:16px;
    font-size:1em;
}

p {
    margin-top:0;
    line-height:1.6em;
}

a {
    color:#d1cece;
    text-decoration:none;
}

h2 {
    margin-top:0;
    margin-bottom:2rem;
}

.container {
    max-width:960px;
    margin:0 auto;
}

.site-title {
    font-size:36px;
    margin-top:2rem;
    margin-bottom:2rem;
}

.site-sub-title {
    font-size:20px;
    display:block;
}

.section-intro {
    margin-bottom:2rem;
}

.project {
    margin-bottom:3rem;
    position:relative;
}

.project-title {

    margin-bottom:2rem;
}

.project-image {
    margin-bottom:2rem;
}
img {
    width:100%;
    display:block;
}

.project-overlay {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

ul {
	list-style:none;
    margin:0;
    padding:0;
}

li {
    margin:0;
    padding:0;    
}

@media only screen and (min-width:640px){
    h2,
    .section-intro,
    .site-title,
    .site-sub-title {
        margin-bottom:3rem;
    }
}

.group:after {
	content:"";
	display:block;
	clear:both;
}