body {
    background-color: #cecece;
    font-family: "Droid Serif", Arial, sans-serif;
    color:#5f5e5e;
    font-size:16px;
    font-size:1em;
}

.container {
    max-width:960px;
    margin:0 auto;
}

.project {
    margin-bottom:10px;
}
.project img {
    width:100%;
}

.project-overlay {
    display:none;
}

ul {
	list-style:none;
    margin:0;
    padding:0;
}

li {
    margin:0;
    padding:0;    
}

.group:after {
	content:"";
	display:block;
	clear:both;
}