// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.project {
    width: 450px;
    margin-right:10px;
    float:left;
}

.project:nth-child(2){
    margin-right:0;
}

ul {
	list-style:none;
}

.group:after {
	content:"";
	display:block;
	clear:both;
}