body {
    background-color: #3d3c3c;
    font-family: "Droid Sans", Arial, sans-serif;
    color:#d1cece;
    font-size:16px;
    font-size:1em;
}

h2 {
    margin-bottom: 0.6em;
    font-size: 1.7em;
    padding-left:0.2rem;
}

h3 {
    margin-bottom:0.3em;
}

p {
    margin-top:0;
}

a {
    color:#d1cece;
    text-decoration: none;
}

.container {
    max-width:960px;
    margin:0 auto;
}

.site-title {
    font-size:3rem;
    margin-top:3rem;
    margin-bottom:5rem;
}
.site-sub-title {
    font-size:1.3rem;
    display:block;
    padding-left:0.3rem;
}

.project {
    margin-bottom:3em;
    padding-bottom:2em;
    position:relative;
    border-bottom: 2px solid;
}
.project img {
    margin-bottom:3em;
}
img {
    width:100%;
    display:block;
}

.project-overlay {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

ul {
	list-style:none;
    margin:0;
    padding:0;
}

li {
    margin:0;
    padding:0;    
}

.group:after {
	content:"";
	display:block;
	clear:both;
}